Debug/*.obj
Debug/*.d
Debug/*.d_raw
Debug/*.map
Debug/*.out
Debug/*_linkInfo.xml
Debug/*.opt
.launches/
.settings/
.theia/
.vscode/.browse.VC.db*
.tools/
android/.gradle/
android/build/
android/app/build/
android/local.properties
sdcard/*.WAV
sdcard/*.wav
